<div class="mat-elevation-z8" *ngIf="showing!='guests'">    
    <div fxLayout="row" fxLayoutAlign="center center" style="padding: 5px;"> 
        <span style="color: rgb(255, 153, 0); font-size: 30px;">  
            <span *ngIf="myObject.stars == 1" > ☆ </span>
            <span *ngIf="myObject.stars == 2" > ☆☆ </span>
            <span *ngIf="myObject.stars == 3" > ☆☆☆ </span>
            <span *ngIf="myObject.stars == 4" > ☆☆☆☆ </span>
            <span *ngIf="myObject.stars == 5" > ☆☆☆☆☆ </span>
        </span>        
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 3px;">              
            <span class="bar-title">  
                {{myObject.name}} - {{myObject.address}}
            </span>
            <span class="exit-showing" (click)="exitShowingObject()" matTooltip="Nazad">        
                <button mat-icon-button>      
                    <mat-icon>arrow_back</mat-icon>                            
                </button>
            </span>
    </div>         
    <div fxLayout="row" fxLayoutAlign="center center"class="mat-elevation-z8" 
                        style="padding: 5px;"  *ngIf="deleting">        
       
        <span>Izaberite fotografiju koju želite da izbrišete</span>
        <button mat-icon-button (click)="deleteReset()" matTooltip="Izađi">      
            <mat-icon>cancel</mat-icon>                            
        </button>

    </div> 

    <ng-image-slider [images]="imageContent" *ngIf="imageObjects.length != 0" #slider
                     (imageClick)="deleteImage($event)" [imagePopup]="!deleting"
                     [manageImageRatio]="true"></ng-image-slider>

    <div style="color:black; font-size:18px; text-align: center;"*ngIf="imageObjects.length == 0">
        <br>Nema fotografija
    </div>
    <br>

    <div fxLayout="row" fxLayoutAlign="space-around center"class="mat-elevation-z8" style="padding: 5px;"> 
        <div>
            <span class="mySpan" (click)="showGuests()" matTooltip="Prijavi/odjavi gosta">
                <button mat-icon-button>      
                    <mat-icon>list</mat-icon>                            
                </button>
                Prijava/Odjava gostiju                
            </span>             
        </div>           
        
        <div fxLayout="row" fxLayoutAlign="center center">
            <span >        
                <span style="font-size: 18px; font-weight: bold; padding-right: 5px;"> {{newImage.name}}</span>
                <input  id="imageSelect" 
                        name="imageSelect"
                        type="file" 
                        style="display: none;"
                        accept=".jpg, .jpeg, .png"
                        (change)="fileAttached($event)" 
                        #imageSelect>
                <mat-form-field class="example-full-width" *ngIf="newImage.name != null" style="padding-right: 5px;">
                    <mat-label>Naslov (Opciono)</mat-label>
                    <input matInput name="title" [(ngModel)]="imageTitle" >
                </mat-form-field>
                <button mat-raised-button color="primary"  (click)="saveImage()" *ngIf="newImage.name">      
                        Dodaj                            
                </button>
                <button mat-raised-button color="warn"  (click)="cancelImage()" *ngIf="newImage.name">      
                    Poništi                            
                </button>                                        
            </span>
            <span class="mySpan">
                    <button mat-icon-button matTooltip="Dodavanje fotografije" (click)="imageSelect.click()">      
                        <mat-icon>add_photo_alternate</mat-icon>                            
                    </button>
            </span>
            <span class="mySpan">
                <button mat-icon-button matTooltip="Brisanje fotografija"(click)="deleteSet()">      
                    <mat-icon>delete</mat-icon>                            
                </button>
            </span>           
            
        </div>
        
              
    </div>     

    <div fxLayout="row" fxLayoutAlign="space-evenly center" style="padding: 10px;"> 
        
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <p class="action-header" >Izmeni naziv</p>
            <span style="color:red; font-size:16px; text-align: center;" >{{nameError}}</span>
            <span style="color:black; font-size:16px; text-align: center;">{{nameInfo}}</span>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Naziv objekta</mat-label>
                <input matInput name="name" [(ngModel)]="myObject.name" required>
            </mat-form-field>
            <button mat-stroked-button color="primary" matTooltip="Sačuvaj naziv" 
                    (click)="updateObjectName()" [disabled]="isBlank(myObject.name)">
                Sačuvaj naziv
            </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <p class="action-header" >Izmeni adresu</p>
            <span style="color:red; font-size:16px; text-align: center;" >{{addressError}}</span>
            <span style="color:black; font-size:16px; text-align: center;">{{addressInfo}}</span>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Adresa objekta</mat-label>
                <input matInput name="address" [(ngModel)]="myObject.address" required>
            </mat-form-field>
            <button mat-stroked-button color="primary" matTooltip="Sačuvaj adresu" 
                    (click)="updateObjectAddress()" [disabled]="isBlank(myObject.address)">
                Sačuvaj adresu
            </button>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <p class="action-header" >Izmeni opis</p>
            <span style="color:red; font-size:16px; text-align: center;" >{{detailsError}}</span>
            <span style="color:black; font-size:16px; text-align: center;">{{detailsInfo}}</span>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Opis objekta</mat-label>
                <textarea matInput name="details" placeholder="Unesite opis objekta" [(ngModel)]="myObject.details"
                >{{myObject.details}}</textarea>
            </mat-form-field>
            <button mat-stroked-button color="primary" matTooltip="Sačuvaj opis"
            (click)="updateObjectDetails()">Sačuvaj opis</button>
        </div>   

        <div fxLayout="column" fxLayoutAlign="space-evenly center">    
            <p class="action-header" >Podnesi zahtev za kategorizaciju</p>    
            <span style="color:red; font-size:16px; text-align: center;" >{{requestError}}</span>
            <span style="color:black; font-size:16px; text-align: center;">{{requestInfo}}</span>
            <br>           
            <span> 
                <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 16px;">Broj zvezdica</mat-label>
                    <mat-select name="stars" [(ngModel)]="newRequest.stars" required>
                        <mat-option value="1" style="font-size: 16px; color: rgb(255, 153, 0);">
                            ☆
                        </mat-option>
                        <mat-option value="2" style="font-size: 16px; color: rgb(255, 153, 0);">
                            ☆☆
                        </mat-option>
                        <mat-option value="3" style="font-size: 16px; color: rgb(255, 153, 0);">
                            ☆☆☆
                        </mat-option>
                        <mat-option value="4" style="font-size: 16px; color: rgb(255, 153, 0);">
                            ☆☆☆☆
                        </mat-option>
                        <mat-option value="5" style="font-size: 16px; color: rgb(255, 153, 0);">
                            ☆☆☆☆☆
                        </mat-option>
                    </mat-select>
                </mat-form-field>                    
            </span>
            <br>
            <span> 
                <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 22px;">Datum od</mat-label>
                    <input matInput type="date" name="od" [(ngModel)]="newRequest.dateFrom" required>
                </mat-form-field>                    
            </span>
            <br>
            <span> 
                <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 22px;">Datum do</mat-label>
                    <input matInput type="date" name="do" [(ngModel)]="newRequest.dateTo" required>
                </mat-form-field>                    
            </span>
            <button mat-stroked-button color="primary" 
                    matTooltip="Podnesi zahtev"
                    [disabled]="newRequest.stars == null ||
                    newRequest.dateFrom == null || 
                    newRequest.dateTo == null"
                    (click)="addNewRequest()">Podnesi zahtev</button>
        </div>
        
        <div fxLayout="column" fxLayoutAlign="space-evenly center" >
            <p class="action-header" >Dodaj ovlašćenje</p>
            <span style="color:rgb(119, 119, 119); font-size:14px; text-align: center;"
                *ngIf="!isOwner()">Morate biti vlasnik objekta da biste davali ovlašćenja</span>
            <span style="color:red; font-size:16px; text-align: center;" >{{premissionError}}</span>
            <span style="color:black; font-size:16px; text-align: center;">{{premissionInfo}}</span>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Korisničko ime</mat-label>
                <input type="text"
                    placeholder="Unesite korisničko ime"
                    aria-label="Korisničko ime"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    [(ngModel)]="grantPremissionUsername" required>               
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let username of filteredOptions | async" [value]="username">
                    {{username}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-stroked-button color="primary" 
                    [disabled]="!isOwner() || isBlank(grantPremissionUsername)"
                    matTooltip="Ovlasti ugostitelja"
                    (click)="grantPremission()">Ovlasti ugostitelja</button>
            <br>
            <br>
            <span style="color:rgb(119, 119, 119); font-size:14px; text-align: center;"
                *ngIf="!isOwner()">Morate biti vlasnik objekta da biste uklonili objekat</span>
            <button mat-raised-button color="warn" 
                    matTooltip="Brisanje objekta"
                    [disabled]="!isOwner()"
                    (click)="deleteObject()">Ukloni objekat</button>
        </div>  
    </div>
    
</div>

<app-report-guest (exitShowingGuestsEmitter)="showObject()" [myObject]="myObject"
                *ngIf="showing=='guests'"></app-report-guest>


