<div fxLayoutAlign="center center" style="text-align: center;"> 
    <mat-horizontal-stepper style="width: 60%;" class="mat-elevation-z6">
        <mat-step label="Vrsta objekta">
            <div>
                <b style="font-size: 18px;">Izaberite vrstu objekta</b> <br><br>
                <mat-form-field >
                    <mat-label>Vrsta objekta</mat-label>
                    <mat-select name="type" [(ngModel)]="newObject.type" required>
                        <mat-option *ngFor="let tip of vrsteObjekata" [value]="tip.value">
                        {{tip.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <button mat-stroked-button color="primary" *ngIf="newObject.type!=null"matStepperNext>Sledeći korak</button> 
            <button mat-stroked-button color="primary" matStepperNext *ngIf="newObject.type==null" disabled>Sledeći korak</button>
        </mat-step>
        
        <mat-step label="Detalji">
            <div>
                <span> 
                    <b style="font-size: 18px;">Unesite naziv objekta</b> <br><br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Naziv objekta</mat-label>
                        <input matInput name="name" [(ngModel)]="newObject.name" required>
                    </mat-form-field>                    
                </span>
                <br><br>
                <span> 
                    <b style="font-size: 18px;">Unesite adresu objekta</b> <br><br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Adresu objekta</mat-label>
                        <input matInput name="address" [(ngModel)]="newObject.address" required>
                    </mat-form-field>                    
                </span>
                <br><br>
                <span> 
                    <b style="font-size: 18px;">Unesite detalje o objektu</b> <br><br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Opis objekta</mat-label>
                        <textarea matInput name="details" [(ngModel)]="newObject.details"></textarea>
                    </mat-form-field>                    
                </span>
            </div>
            <br>             
            <button mat-stroked-button color="primary" matStepperPrevious>Prethodni korak</button>  
            <button mat-stroked-button color="primary" [disabled]="isBlank(newObject.name) || isBlank(newObject.address)"  
            matStepperNext>Sledeći korak</button> 
        </mat-step>
        <mat-step label="Kategorizacija">
            <div>
                <b style="font-size: 18px;">Da li želite da podnesete zahtev za kategorizaciju?</b>                                   
                <mat-checkbox name="check" style="padding-left: 10px;" [(ngModel)]="wantCat"> Da </mat-checkbox>
                <br><br>
                <span *ngIf="wantCat">                   
                    <span> 
                        <mat-form-field class="example-full-width">
                            <mat-label style="font-size: 16px;">Broj zvezdica</mat-label>
                            <mat-select name="stars" [(ngModel)]="newRequest.stars" required>
                                <mat-option value="1" style="font-size: 18px; color: rgb(255, 153, 0);">
                                    ☆
                                </mat-option>
                                <mat-option value="2" style="font-size: 16px; color: rgb(255, 153, 0);">
                                    ☆☆
                                </mat-option>
                                <mat-option value="3" style="font-size: 16px; color: rgb(255, 153, 0);">
                                    ☆☆☆
                                </mat-option>
                                <mat-option value="4" style="font-size: 16px; color: rgb(255, 153, 0);">
                                    ☆☆☆☆
                                </mat-option>
                                <mat-option value="5" style="font-size: 16px; color: rgb(255, 153, 0);">
                                    ☆☆☆☆☆
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                    
                    </span>
                    <br><br>
                    <span> 
                        <mat-form-field class="example-full-width">
                            <mat-label style="font-size: 22px;">Datum od</mat-label>
                            <input matInput type="date" name="od" [(ngModel)]="newRequest.dateFrom" required>
                        </mat-form-field>                    
                    </span>
                    <br><br>
                    <span> 
                        <mat-form-field class="example-full-width">
                            <mat-label style="font-size: 22px;">Datum do</mat-label>
                            <input matInput type="date" name="do" [(ngModel)]="newRequest.dateTo" required>
                        </mat-form-field>                    
                    </span>
                </span>
            </div>
            <br>             
            <button mat-stroked-button color="primary" matStepperPrevious>Prethodni korak</button>  
            <button mat-stroked-button color="primary" *ngIf="!wantCat ||
                                                                    (newRequest.stars != null &&
                                                                    newRequest.dateFrom != null &&
                                                                    newRequest.dateTo != null )"matStepperNext>Sledeći korak</button> 
            <button mat-stroked-button color="primary" matStepperNext *ngIf="wantCat &&
                                                                    (newRequest.stars == null ||
                                                                    newRequest.dateFrom == null ||
                                                                    newRequest.dateTo == null )" disabled>Sledeći korak</button> 
        </mat-step>

        <mat-step label="Pregled">
            <div fxLayout="column" fxLayoutAlign="center center" >
                <table>
                    <tr>
                        <th colspan="2"> Pregled novog objekta </th>
                    </tr>
                    <tr>
                        <td class="my-th">Tip objekta</td>
                        <td *ngIf="newObject.type == 1"> Apartman </td>
                        <td *ngIf="newObject.type == 2"> Hotel </td>
                        <td *ngIf="newObject.type == 3"> Stan </td>
                        <td *ngIf="newObject.type == 4"> Motel </td>
                        <td *ngIf="newObject.type == 5"> Kamp </td>
                        <td *ngIf="newObject.type == 6"> Kuća </td>
                        <td *ngIf="newObject.type == 7"> Soba </td>
                        <td *ngIf="newObject.type == 8"> Seosko domaćinstvo </td>  
                    </tr>
                    <tr>
                        <td class="my-th">Naziv objekta</td>
                        <td>{{newObject.name}}</td>
                    </tr>
                    <tr>
                        <td class="my-th">Adresa objekta</td>
                        <td>{{newObject.address}}</td>
                    </tr>
                    <tr>
                        <td class="my-th">Opis</td>
                        <td>{{newObject.details}}</td>
                    </tr>
                    <tr>
                        <td class="my-th">Naziv ugostitelja</td>
                        <td>{{loggedUser.name}}</td>
                    </tr>                    
                    <tr>
                        <td class="my-th">Želi kategorizaciju?</td>
                        <td *ngIf="wantCat"> Da </td>
                        <td *ngIf="!wantCat"> Ne </td>
                    </tr>
                    <tr *ngIf="wantCat">
                        <td colspan="2" style="text-align: center;">Zahtev za kategorizaciju</td>
                    </tr>
                    <tr *ngIf="wantCat">
                        <td class="my-th">Broj zvezdica</td>
                        <td style="color: rgb(255, 153, 0); font-size: 26px;">
                            <span *ngIf="newRequest.stars == 1" > ☆ </span>
                            <span *ngIf="newRequest.stars == 2" > ☆☆ </span>
                            <span *ngIf="newRequest.stars == 3" > ☆☆☆ </span>
                            <span *ngIf="newRequest.stars == 4" > ☆☆☆☆ </span>
                            <span *ngIf="newRequest.stars == 5" > ☆☆☆☆☆ </span>
                        </td>
                    </tr>
                    <tr *ngIf="wantCat">
                        <td class="my-th">Datum od</td>
                        <td>{{newRequest.dateFrom}}</td>
                    </tr>
                    <tr *ngIf="wantCat">
                        <td class="my-th">Datum do</td>
                        <td>{{newRequest.dateTo}}</td>
                    </tr>                     
                </table>
            </div>
            <br>
            <button mat-stroked-button color="primary" matStepperPrevious>Prethodni korak</button> 
            <button mat-stroked-button color="primary" (click)="addNewObject()">Dodaj objekat</button>  
        </mat-step>
    </mat-horizontal-stepper>
</div>

  