<!--Zaglavlje-->
<div>
    <mat-toolbar color="primary">        
        <span>Administrator</span>
        <span class="example-spacer"></span>
        <span>
            Odjavi se 
            <button mat-icon-button class="example-icon singout-icon" (click)="logOut()">                  
                <mat-icon>exit_to_app</mat-icon>          
            </button>
        </span>
                
    </mat-toolbar>
</div>
<br>
<!--Dodavanje novog-->
<div>
  <p style="font-size: 20px; text-align: center; font-weight: bold;">Dodavanje korisnika</p>
  <div style="color:red; font-size:18px; text-align: center;" >{{newUserMessage}}</div>
  <mat-toolbar  class="mat-elevation-z8" style="font-size: 14px;">
    <span> 
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Naziv</mat-label>
            <input matInput name="name" [(ngModel)]="newUser.name">
          </mat-form-field>
      </form>
    </span> 
    <span> 
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Korisničko ime</mat-label>
            <input matInput name="username" [(ngModel)]="newUser.username">
          </mat-form-field>
      </form>
    </span>
    <span> 
      <form class="example-form">
          <mat-form-field class="example-full-width" >
            <mat-label>Šifra</mat-label>
            <input matInput name="password" [(ngModel)]="newUser.password">
          </mat-form-field>
      </form>
    </span> 
    <span> 
      <form class="example-form">
          <mat-form-field >
              <mat-label>Tip korisnika</mat-label>
              <mat-select [(value)]="newUser.type">
                <mat-option *ngFor="let tip of tipoviKorisnika" [value]="tip.value">
                  {{tip.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </form>
    </span>
    <span > 
      <form class="example-form">
          <mat-form-field >
              <mat-label>Vrsta korisnika</mat-label>
              <mat-select [(value)]="newUser.kind">
                <mat-option *ngFor="let vrsta of vrsteKorisnika" [value]="vrsta.value">
                  {{vrsta.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </form>
    </span>
    <span> 
      <form class="example-form">
          <mat-form-field>
              <mat-label>Registrovan</mat-label>
              <mat-select [(value)]="newUser.registeredFlag">
                <mat-option *ngFor="let reg of tipoviRegistracije" [value]="reg.value">
                  {{reg.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </form>
    </span>
    <span> 
      <form class="example-form">                    
          <button mat-stroked-button color="primary" (click)="addNewUser()">Dodaj</button>
      </form>
    </span>
    <span> 
      <form class="example-form">
          <button mat-stroked-button color="warn" (click)="cancelNewUser()">Poništi</button>
      </form>                
    </span>

  </mat-toolbar>
</div>
<br>
<!--Tabela-->
<div>
    <p style="font-size: 20px; text-align: center; font-weight: bold;">Pregled korisnika</p>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >          
        <!-- Naziv Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element._id != editModeUserId"> {{element.name}} </span>
            <span *ngIf="element._id == editModeUserId"> 
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Naziv</mat-label>
                      <input matInput name="name" [(ngModel)]="editModeUser.name">
                    </mat-form-field>
                </form>
            </span> 
          </td>
        </ng-container>
      
        <!-- Korisničko ime Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Korisničko ime </th>
          <td mat-cell *matCellDef="let element">           
                <span *ngIf="element._id != editModeUserId"> {{element.username}} </span>
                <span *ngIf="element._id == editModeUserId"> 
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Korisničko ime</mat-label>
                          <input matInput name="username" [(ngModel)]="editModeUser.username">
                        </mat-form-field>
                    </form>
                </span> 
          </td>
        </ng-container>
      
        <!-- Šifra Column -->
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Šifra </th>
          <td mat-cell *matCellDef="let element">
              <span *ngIf="element._id != editModeUserId"> {{element.password}} </span>
              <span *ngIf="element._id == editModeUserId"> 
                <form class="example-form">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Šifra</mat-label>
                      <input matInput name="password" [(ngModel)]="editModeUser.password">
                    </mat-form-field>
                </form>
              </span>           
          </td>
        </ng-container>
      
        <!-- Tip Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tip korisnika </th>
          <td mat-cell *matCellDef="let element">           
              <span *ngIf="element.type == 0 && element._id != editModeUserId"> Admin </span>
              <span *ngIf="element.type == 1 && element._id != editModeUserId"> Ugostitelj </span>
              <span *ngIf="element.type == 2 && element._id != editModeUserId"> Radnik </span>
              <span *ngIf="element._id == editModeUserId"> 
                <form class="example-form">
                    <mat-form-field >
                        <mat-label>Tip korisnika</mat-label>
                        <mat-select [(value)]="editModeUser.type">
                          <mat-option *ngFor="let tip of tipoviKorisnika" [value]="tip.value">
                            {{tip.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
              </span> 
          </td>
        </ng-container>
    
       
         <!-- Vrsta Column -->
         <ng-container matColumnDef="kind">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta korisnika </th>
            <td mat-cell *matCellDef="let element" >           
                <span *ngIf="element.kind == 1 && element._id != editModeUserId"> Pravno lice </span>
                <span *ngIf="element.kind == 2 && element._id != editModeUserId"> Preduzetnik </span>
                <span *ngIf="element.kind == 3 && element._id != editModeUserId"> Fizičko lice </span>
                <span *ngIf="element.kind == 4 && element._id != editModeUserId"> Ustanova </span>
                <span *ngIf="element._id == editModeUserId"> 
                    <form class="example-form">
                        <mat-form-field >
                            <mat-label>Vrsta korisnika</mat-label>
                            <mat-select [(value)]="editModeUser.kind">
                              <mat-option *ngFor="let vrsta of vrsteKorisnika" [value]="vrsta.value">
                                {{vrsta.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </form>
                </span> 
            </td>
        </ng-container>
    
        <!-- Registrovan Column -->
        <ng-container matColumnDef="registeredFlag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registrovan kod nadležnog organa </th>
            <td mat-cell *matCellDef="let element">           
                <span *ngIf="element.registeredFlag == true && element._id != editModeUserId"> Da </span>
                <span *ngIf="element.registeredFlag == false && element._id != editModeUserId"> Ne </span>
                <span *ngIf="element._id == editModeUserId"> 
                    <form class="example-form">
                        <mat-form-field>
                            <mat-label>Registrovan</mat-label>
                            <mat-select [(value)]="editModeUser.registeredFlag">
                              <mat-option *ngFor="let reg of tipoviRegistracije" [value]="reg.value">
                                {{reg.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </form>
                </span>
            </td>
        </ng-container>     
        

      <!-- Sačuvaj Column -->
      <ng-container matColumnDef="buttonsSave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element">  
            <span *ngIf="element._id != editModeUserId"> 
                <form>                    
                    <button mat-icon-button class="example-icon delete-icon">                  
                        <mat-icon>edit</mat-icon>          
                    </button>
                </form>
            </span>           
            <span *ngIf="element._id == editModeUserId"> 
                <form>                    
                    <button mat-stroked-button color="primary"style="font-size: 12px;" (click)="save()">Sačuvaj</button>
                </form>
            </span>
        </td>
      </ng-container> 

        <!-- Otkaži Column -->
        <ng-container matColumnDef="buttonsCancel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let element">             
                <span *ngIf="element._id == editModeUserId"> 
                    <form>
                        <button mat-stroked-button color="warn" style="font-size: 12px;" (click)="cancel()">Otkaži</button>
                    </form>                
                </span>
            </td>
        </ng-container>
        <!-- Izbrisi Column -->
        <ng-container matColumnDef="buttonsDelete"> 
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>           
          <td mat-cell *matCellDef="let element">             
              <span *ngIf="element._id == editModeUserId"> 
                  <form>
                    <button mat-icon-button class="example-icon delete-icon" (click)="deleteUser()">                  
                      <mat-icon>delete</mat-icon>          
                   </button>
                  </form>                
              </span>
          </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row)"></tr>
    </table>
</div>

  