<div>
    <mat-toolbar color="primary">        
        <span>Ugostitelj {{loggedUser.name}}</span>

        <span class="example-spacer"></span>

        <span >          
            Dodaj objekat 
            <button mat-icon-button matTooltip="Dodaj objekat"(click)="toggleAddingObject()" *ngIf="addingObject==false">                  
                <mat-icon>add_circle_outline</mat-icon>          
            </button>
            <button mat-icon-button matTooltip="Poništi"(click)="toggleAddingObject()" *ngIf="addingObject==true">                  
                <mat-icon>cancel</mat-icon>          
            </button>
        </span>

        <span class="example-spacer"></span>
        
        <span >
            Odjavi se 
            <button mat-icon-button matTooltip="Odjava" (click)="logOut()">                  
                <mat-icon>exit_to_app</mat-icon>          
            </button>
        </span>
                
    </mat-toolbar>
</div>
<div style="text-align: center;">
    <span style="color:red; font-size:18px; text-align: center;" *ngIf="newObjectMessage!=''">{{newObjectMessage}}</span>
    <span style="color:rgb(0, 0, 0); font-size:18px; text-align: center;" *ngIf="newObjectInfo!=''">{{newObjectInfo}}</span>
</div>
<br>
<app-addcaterer (objectAdded)="objectAdded($event)" *ngIf="addingObject==true"></app-addcaterer>
<br>
<div *ngIf="showing=='allObjects'">
    <p style="font-size: 20px; text-align: center; font-weight: bold;">Pregled objekata</p>
    <div fxLayout="row" fxLayoutAlign="center center" class="menuBarNoPadding">
        <input #filter (keyup)="applyFilter($event)" matInput class="filterInput"
            placeholder="&#xF002;  Pretraži objekte..."
            (blur)="clearFilter()"> 
        <button mat-icon-button matTooltip="Poništi pretragu" *ngIf="filterActive && filter.value!=''"
                (click)="clearFilter()">                  
            <mat-icon>close</mat-icon>          
        </button>        
    </div> 
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
        <!-- Naziv Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv objekta</th>
          <td mat-cell *matCellDef="let element">
            <span> {{element.name}} </span>
            
          </td>
        </ng-container>  
        
        <!-- Adresa Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresa objekta</th>
            <td mat-cell *matCellDef="let element">
              <span> {{element.address}} </span>
              
            </td>
          </ng-container>
       
         <!-- Vrsta Column -->
         <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta objekta </th>
            <td mat-cell *matCellDef="let element" >           
                <span *ngIf="element.type == 1"> Apartman </span>
                <span *ngIf="element.type == 2"> Hotel </span>
                <span *ngIf="element.type == 3"> Stan </span>
                <span *ngIf="element.type == 4"> Motel </span>
                <span *ngIf="element.type == 5"> Kamp </span>
                <span *ngIf="element.type == 6"> Kuća </span>
                <span *ngIf="element.type == 7"> Soba </span>
                <span *ngIf="element.type == 8"> Seosko domaćinstvo </span>                            
            </td>
        </ng-container>

        <!-- Opis Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Opis objekta </th>
            <td mat-cell *matCellDef="let element">
              <span > {{element.details}} </span>               
            </td>
          </ng-container>

          <!-- Opis Column -->
        <ng-container matColumnDef="stars">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Broj zvezdica </th>
            <td mat-cell *matCellDef="let element" style="color: rgb(255, 153, 0); font-size: 26px;">
              <span *ngIf="element.stars == 1" > ☆ </span>
              <span *ngIf="element.stars == 2" > ☆☆ </span>
              <span *ngIf="element.stars == 3" > ☆☆☆ </span>
              <span *ngIf="element.stars == 4" > ☆☆☆☆ </span>
              <span *ngIf="element.stars == 5" > ☆☆☆☆☆ </span>               
            </td>
        </ng-container>

        <!-- Prikazi Column -->
      <ng-container matColumnDef="viewButtons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element">  
            <span> 
                <form>                    
                    <button mat-icon-button matTooltip="Izmeni objekat" (click)="view(element)">                  
                        <mat-icon>edit</mat-icon>          
                    </button>
                </form>
            </span>                 
        </td>
      </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="view(row)"></tr>
    </table>
</div>
<app-showobject *ngIf="showing=='singleObject'" 
                [myObject]="showingObject" 
                (exitShowingEmitter)="exitView($event)"></app-showobject>

  