table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}
.example-spacer {
    flex: 1 1 auto;
}

.example-form{
    padding: 3px;
}

.row:hover{
    background-color: rgb(240, 240, 240);
}